<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssrs.platform.mapper.RoleMapper">

    <select id="selectPage" resultType="com.ssrs.platform.model.query.RoleQuery">
        select r.*,b.name branchName from sys_role r
        left join sys_branch b on b.branch_innercode = r.branch_innercode
        <where>
            <if test="roleName!=null and roleName!=''">r.role_name=#{roleName}</if>
        </where>
    </select>
</mapper>
